* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'roboto','arial';
}

ul, li {
    list-style: none;
    margin: 0;
}

a {
    text-decoration: none;
    color: white;
}

i {
    position: relative;
}

i::before {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

p {
    margin-bottom: 0;
}

h1, h2, h3, h4, h5, h6 { margin-bottom: 0; }