.body_blog {

    img {
        width: 100%;
        object-fit: cover;
    }

    .baiViet_big {
        img { 
            height: 50vw; 
            border: $border_gray;
        }
        h4 { 
            font-size: $font-big;
            font-weight: $font_w_bold;
            padding: 10px 0px;
            color: $main_font;
        }
    } 

    .baiViet {
        img { 
            height: 20vw; 
            border: $border_gray;
        }
        h4 { 
            font-size: $font-medium;
            font-weight: $font_w_bold;
            padding: 5px 0px 20px 0px;
        }
    } 

    .baiViet_small {
        margin-top: 30px;

        .baiViet_1 {
            margin-top: 10px;
            padding-bottom: 10px;
            border-bottom: $border_gray;

            img { height: 20vw; }
           
            .text_Blog {
                h4 { 
                    font-size: $font-small_2;  
                    font-weight: $font_w_bold;    
                    padding: 5px 0px;         
                }
                p {
                    font-size: $font-small; 
                }
            }
        }  

        button {
            margin-top: 30px;
            margin-bottom: 60px;
        }
    }

    .blog_Demo {
        h3 {
            font-size: $font-medium;  
            font-weight: $font_w_bold;   
            padding: 15px 0px 20px 0; 
        }

        h4 { 
            font-size: $font-small_2;  
            font-weight: $font_w_bold;    
            padding: 15px 0px 5px 0;         
        }
        p {
            font-size: $font-small; 
        }
    }
}

@media (min-width: 768px) {
    .body_blog {
    
        .baiViet_big {
            img { 
                height: 45vw; 
            }
        } 
    
        .baiViet_small {

            .baiViet_1 {
                margin-top: 10px;
                padding-bottom: 10px;
                border-bottom: $border_gray;
                position: relative;
    
                img { height: 15vw; }

                .text_Blog {
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }    
        }
    }
}

@media (min-width: 992px) {
    .body_blog {
    
        .baiViet_big {
            img { 
                height: 25vw; 
            }
        } 
    
        .baiViet_small {
            .baiViet_1 {
                img { height: 8vw; }
            }  
        }

        .baiViet {
            img { 
                height: 10vw; 
            }
        } 

        .top_Blog {
            i {
                display: block;
            }

            h3 {
                font-size: $font-big;
                font-weight: $font_w_bold;
                padding-bottom: 20px;
            }

            .baiViet {
                img { 
                    height: 10vw; 
                    border: $border_gray;
                    object-fit: cover;
                }
                h4 { 
                    font-size: $font-medium;
                    font-weight: $font_w_bold;
                    padding: 5px 0px 30px 0px;
                }
            } 
        }
    }
}