.body_thamkhaoPC {

    h2 {
        border-bottom: $border_gray;
        font-size: $font-big;
        font-weight: $font_w_bold;
        color: $main_font;
        padding: 4px 0; 
        margin-bottom: 10px;
    }

    .sanPham {
        .pic_sanPham {
            width: 100%;
            height: 35vw;
            object-fit: scale-down;
            margin: 5px 0;
        }

        .trangChu_pc {
            margin-top: 5px;
            margin-bottom: 30px;
            padding: 5px; 
            background: $bg_gray;

            .price {
                font-size: $font_medium;
            }

            h4,
            .price_tag {
                font-size: $font_small_2;
            }

            h4 {
                font-weight: $font_w_bold;
            }

            .price_tag {
                color: $main_font_2;
                margin-top: 5px;
            }
        }   
    }
}

@media (min-width: 768px) {
    .body_thamkhaoPC {
        .sanPham {
            .pic_sanPham {
                height: 20vw;
            }
        }
    }
}

@media (min-width: 992px) {
    .body_thamkhaoPC {
        .sanPham {
            .pic_sanPham {
                height: 15vw;
            }
        }
    }
}

@media (min-width: 1440px) {
    .body_thamkhaoPC {
        .sanPham {
            .pic_sanPham {
                height: 10vw;
            }
        }
    }
}